# CSCI451 Project: UNHCR ML Challenge
Jamie Hackney, Mihir Singh, Jake Gilbert

In [26]:
# imports
import pandas as pd
import numpy as np

# imports for models
from sklearn.linear_model import LinearRegression
from sklearn import tree 
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# create models
LR = LinearRegression()
Svc = SVC()
Tree = tree.DecisionTreeClassifier()
NN = MLPClassifier()

# load the data
df = pd.read_csv('/Users/mihirsingh/Documents/Middlebury/CSCI451/UNHCR-ml-challenge/data/combined_data.csv')

# impute data
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
array_imp = imp.fit_transform(df)
df_imp = pd.DataFrame(array_imp, columns=df.columns)

# encode data that is not numerical
encoder = LabelEncoder()
encoder.fit(df_imp['Region'])
df_imp['Region'] = encoder.transform(df_imp['Region'])
encoder.fit(df_imp['District'])
df_imp['District'] = encoder.transform(df_imp['District'])
encoder.fit(df_imp['Month'])
df_imp['Month'] = encoder.transform(df_imp['Month'])

df_imp.head

/var/folders/fv/_v7myjl904983sbb39qbkzw40000gn/T/ipykernel_79068/387164376.py:21: DtypeWarning: Columns (17,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/mihirsingh/Documents/Middlebury/CSCI451/UNHCR-ml-challenge/data/combined_data.csv')

<bound method NDFrame.head of        Unnamed: 0  Region  District   CDI  Month  Year   NDVI Rainfall  \
0               0       0        13  1.05      4  2018  0.168    4.342
1               1       0         5  0.62      4  2018  0.132    6.065
2               2       0        53  0.63      4  2018  0.047    7.915
3               3       0        73   1.1      4  2018  0.052    8.121
4               4      17        41  0.78      4  2018    0.0    2.247
...           ...     ...       ...   ...    ...   ...    ...      ...
328851     328851      10        63  1.15      2  2014  0.179    2.117
328852     328852       8        49  1.15      2  2014  0.179    2.117
328853     328853       8         2  1.15      2  2014  0.179    2.117
328854     328854       8         4  1.15      2  2014  0.179    2.117
328855     328855       8        45  1.15      2  2014  0.179    2.117

       Water Price Conflict Fatalities  ... Cost Min Basket Goat Price  \
0           4000.0                 0.0  ...     1,090,175.0    297,750
1          30000.0                 0.0  ...             0.0    850,000
2          30000.0                 0.0  ...             0.0    300,000
3           6000.0                 0.0  ...     1,160,475.0    410,000
4          11000.0                 0.0  ...     1,366,665.0    460,000
...            ...                 ...  ...             ...        ...
328851     30000.0                 0.0  ...     2,382,650.0    670,000
328852     30000.0                 0.0  ...     2,420,900.0    921,000
328853     30000.0                 0.0  ...     2,281,766.7    786,800
328854     30000.0                 0.0  ...             0.0    850,000
328855     30000.0                 0.0  ...     2,220,950.0    823,000

       Goat to Cereal Maize Price Rice Price Sorghum Price Wage Price  \
0                57.0       4,000      5,200         3,200     57,400
1                63.0      10,000     16,000         8,000    100,000
2                50.0      10,000      7,000         6,000     90,000
3                59.0       6,000      7,000         5,500    100,000
4                92.0       6,000      5,000         5,000     70,000
...               ...         ...        ...           ...        ...
328851           85.0       7,900     16,000         8,000     79,250
328852          132.0       7,000     14,000         8,000    120,000
328853           66.0      12,000     16,000         9,000     80,000
328854           63.0      10,000     16,000         8,000    100,000
328855          125.0       6,600     15,800         8,000     73,400

       Wage to Cereal Departures Arrivals
0                11.0        6.0    199.0
1                 7.0       24.0     69.0
2                15.0      253.0     24.0
3                14.0       24.0     68.0
4                14.0      400.0    663.0
...               ...        ...      ...
328851           10.0       24.0      6.0
328852           17.0       24.0      6.0
328853            7.0       24.0      6.0
328854            7.0       24.0      6.0
328855           11.0       24.0      6.0

[328856 rows x 25 columns]>

In [32]:

# turn string numbers into floats
features = ['CDI','Month','Year','NDVI','Rainfall','Water Price',
            'Conflict Fatalities','Conflict Incidents','Cholera Deaths',
            'Cholera Cases','Malaria','Measles','Cost Min Basket',
            'Goat Price','Goat to Cereal','Maize Price','Rice Price',
            'Sorghum Price','Wage Price','Wage to Cereal']


for feature in features:
    # print(df_imp[feature].iloc[0])
    if(df[feature].apply(lambda x: isinstance(x, str)).any()):   
        print(feature)
        df_imp[feature] = df_imp[feature].str.replace(',', '')
        df_imp[feature] = df_imp[feature].astype(float)
        #print(feature == 'Goat to Cereal')
        if(feature == 'Goat to Cereal'):
            print("here")
            print(df_imp[feature][155233])

# departures is also weirdly a string and has commas so we need to fix that
df_imp['Departures'] = df_imp['Departures'].str.replace(',', '')
df_imp['Departures'] = df_imp['Departures'].astype(float)

# create target column
df_imp['movement_score'] = df_imp['Arrivals'] - df_imp['Departures']

# split data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(df_imp, df_imp['movement_score'], test_size=0.25)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

With the data processed, we can now build some models.

In [21]:
# fitting models
#LR.fit(X_train, y_train)
# Svc.fit(X_train, y_train)
# Tree.fit(X_train, y_train)
# NN.fit(X_train, y_train)

# predictions
indices = np.where(df_imp == "1,124")
locations = list(zip(indices[0],df_imp.columns[indices[1]]))
print("Locations (row index and column name) of the value:")
for location in locations:
    print(location)
# LR_pred = LR.predict(X_test)

Locations (row index and column name) of the value:
(155233, 'Goat to Cereal')