# Scrape Data

### Import and Initialize Data Scraper

In [5]:
import scraper
sc = scraper.FSNAUScraper(2015, 2024)

### Scrape Movement Data

In [6]:
movement_errs = sc.scrape_movement(to_csv=True, return_dfs=False)

Scraped population arrival data with 0 errors.
Scraped population departure data with 0 errors.

### Scrape Market Data

In [3]:
market_errs = sc.scrape_market(to_csv=True, return_dfs=False)

Scraped maize price data with 0 errors.
Scraped sorghum price data with 0 errors.
Scraped rice price data with 0 errors.
Scraped goat price data with 0 errors.
Scraped wage price data with 0 errors.
Scraped wage to cereal data with 0 errors.
Scraped goat to cereal data with 0 errors.
Scraped cost of minimum basketn price data with 0 errors.

### Scrape Climate Data

In [4]:
climate_errs = sc.scrape_climate(to_csv=True, return_dfs=False)

Scraped CDI (drought) data with 0 errors.
Scraped NDVI (vegetation) data with 0 errors.
Scraped Rainfall data with 0 errors.
Scraped Water Price data with 0 errors.

### Scrape Health Data

In [5]:
health_errs = sc.scrape_health(to_csv=True, return_dfs=False)

Scraped cholera cases data with 0 errors.
Scraped cholera death data with 0 errors.
Scraped measles cases data with 0 errors.
Scraped malaria cases data with 0 errors.

### Scrape Conflict Data

In [6]:
conflict_errs = sc.scrape_conflicts(to_csv=True, return_dfs=False)

Scraped conflict incident data with 0 errors.
Scraped conflict fatality data with 0 errors.

# Combine Data

In [7]:
import aggregator as ag

aggregator = ag.Aggregator(join_method='outer')
df = aggregator.merge_data()
df.to_csv('data/combined_data.csv')

df.head(2)

merged climate data
merged conflict data
merged health data
merged market data
merged movement data

,Region,District,CDI,Month,Year,NDVI,Rainfall,Water Price,Conflict Fatalities,Conflict Incidents,...,Cost Min Basket,Goat Price,Goat to Cereal,Maize Price,Rice Price,Sorghum Price,Wage Price,Wage to Cereal,Departures,Arrivals
0,Awdal,Borama,1.05,Jan,2018,0.168,4.342,4000.0,0.0,1.0,...,"1,090,175.0","297,750",57.0,"4,000","5,200","3,200","57,400",11.0,6.0,199.0
1,Awdal,Baki,0.62,Jan,2018,0.132,6.065,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0