In [3]:
from scraper import Scraper
import pandas as pd

# initialize scraper
scraper = Scraper()

# example test URLs
urls = [
    'https://dashboard.fsnau.org/population/arrivals',
    'https://dashboard.fsnau.org/population/departures',
    'https://dashboard.fsnau.org/climate/rainfall',
]

# scrape and save URLs to dataframe
dfs = scraper.scrape(urls, to_csv=True)

# read in dataframes
arrivals_df = pd.read_csv('data/population-arrivals.csv')
arrivals_df = pd.read_csv('data/population-departures.csv')
rainfall_df = pd.read_csv('data/climate-rainfall.csv')

In [5]:
arrivals_df.head()

,#,Region,District,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Awdal,Borama,188.0,308.0,NaN,NaN,6.0,NaN
2,2.0,Awdal,Baki,116.0,6.0,NaN,NaN,6.0,NaN
3,3.0,Awdal,Lughaye,135.0,NaN,NaN,NaN,30.0,NaN
4,4.0,Awdal,Zeylac,42.0,NaN,NaN,NaN,NaN,NaN

In [6]:
arrivals_df.head()

,#,Region,District,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Awdal,Borama,184.0,NaN,NaN,NaN,6.0,NaN
2,2.0,Awdal,Baki,121.0,187.0,NaN,NaN,6.0,NaN
3,3.0,Awdal,Lughaye,125.0,127.0,NaN,NaN,30.0,NaN
4,4.0,Awdal,Zeylac,51.0,NaN,NaN,NaN,NaN,NaN

In [7]:
rainfall_df.head()

,#,Region,District,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Awdal,Borama,10.558,4.917,5.346,5.937,32.640,NaN
2,2.0,Awdal,Baki,17.546,6.015,6.939,3.671,15.710,NaN
3,3.0,Awdal,Lughaye,20.621,7.845,8.687,4.092,13.324,NaN
4,4.0,Awdal,Zeylac,17.990,8.843,9.086,6.075,15.925,NaN